<%=  stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a>Welcome <%= current_user.name %></a></li>
        <li><%= link_to 'All Lessons Rails', lessons_path %></li>
        <li><%= link_to 'All Lessons Ajax', lessons_path, class: "all_lessons" %></li>
        <li><%= link_to 'Create Lesson', new_user_lesson_path(current_user) %></li>
        <li><%= link_to "Top Lesson Creators", best_users_path %></li>

        <li class="active"><%= link_to "Log Out", signout_path, method: :delete %></li>
      </ul>
    </nav>
  </aside>
  <section class="twitter allign4">
        <p id="app-container"></p>
  </section>
</main>








