<% if logged_in? %>

<h1><em>Welcome <%= @user.name %><em></h1>
<p>Email: <%= @user.email %></p>


<p><%= link_to 'Create Lesson', new_user_lesson_path(@user.id)%></p>

<li><em><%= link_to 'All Lessons by all Users', lessons_path %><em></li>

<li><em><%= link_to "Log Out", signout_path, method: :delete %><em></li>

<% end %>
