<p><%= link_to 'Homepage', user_path(current_user.id)%></p>
<% @lessons.each do |lesson|  %>
<li>Lesson creator: <%= lesson.user.name %><li>
<li>Lesson title: <%= link_to lesson.title, lesson_path(lesson) %><li>
<li>Lesson content: <%= lesson.content %><li>
<li>Lesson comment: <%= lesson.comment.text %><li>

<% if lesson.ratings.empty?  %>
<p>There are no ratings yet.</p>

<% else %>
<p>Lesson Rating: </p>

  <% lesson.ratings.each do |rate|  %>

  <p>*<%= rate.stars %></p>
  <% end %>
<% end %>

<li><em><%= link_to "New rating", new_lesson_rating_path(lesson.id)%><em><li>

<% end %>

<%= form_tag("/lessons", method: "get") do %>
  <%= label_tag(:title, "Search lesson by title") %>
    <%= text_field_tag(:title) %>
    <%= submit_tag("Search") %>
  <% end %>