<%=  stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>


<% if logged_in? %>

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><%= link_to 'Homepage', user_path(current_user.id)%></li>
        <li><%= link_to 'All Lessons', lessons_path %></li>

        <%= form_tag("/lessons", method: "get") do %>
          <li class ="search"><%= label_tag(:title, "Search lesson by title:") %></li>

          <%= text_area_tag(:title) %></br></br>
            <%= submit_tag("Search") %>
          <% end %>

      </ul>
    </nav>
  </aside>

  <section class="twitter allign">

    <% @lessons.each do |lesson|  %>
      <p class="creator">Author:<p>
      <p class="author"><%= lesson.user.name %></p>
      <p class="p">Lesson title:</p>
      <p class="subs title"><%= link_to lesson.title, lesson_path(lesson) %></p>
      <p class="p">Lesson content: </p>
      <p class="subs2"><%= lesson.content %></p>
      <p class="p">Lesson comment: </p>
      <p class="subs"><%= lesson.comment.text %></p>

      <% if lesson.ratings.empty?  %>
      <p class="p">There are no ratings yet.</p>
        <% else %>
        <p class="p">Lesson Rating: </p>
        <% lesson.ratings.each do |rate|  %>
          <p class="subs">*<%= rate.stars %></p>
        <% end %>
      <% end %>
      
      <p class="p"><%= link_to "-> New rating <-", new_lesson_rating_path(lesson.id)%></p>
      </br></br>
      <% end %>
      
  </section>
</main>



<% end %>