<p><%= link_to 'Homepage', user_path(current_user.id)%></p>
<% @lessons.each do |lesson|  %>
<li>Lesson creator: <%= lesson.user.name %><li>
<li>Lesson title: <%= link_to lesson.title, lesson_path(lesson) %><li>
<li>Lesson content: <%= lesson.content %><li>
<li>Lesson comment: <%= lesson.comment.text %><li>

<ul>
<p>Lesson Ratings: </p>

<% lesson.ratings.each do |rate|  %>

    <li><%= rate.stars %><li>
  
<% end %>
</ul>

<li><em><%= link_to "New rating", new_lesson_rating_path(lesson.id)%><em><li>

<% end %>
