<%=  stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>

<% if logged_in? %>

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><%= link_to 'Homepage', user_path(current_user.id)%></li>
        <li><%= link_to 'All Lessons', lessons_path %></li>
      </ul>
    </nav>
  </aside>

  <section class="twitter">
    <div class="container">
    <div class = "fields_with_errors"><%= render 'layouts/errors' %></div>

    <%= form_for @lesson do |f| %>
        <div class="p">
        <%= f.label :title%></br>
        <%= f.text_field :title %>
        </div></br>
        <div class="p">
        <%= f.label :content%></br>
        <%= f.text_area(:content, size: "33x5")  %>
        </div></br>
        <div class="p">
        <%= f.fields_for :comment do |v|%>
            <%= v.label :comment%></br>
            <%= v.text_area(:text, size: "33x3") %>
        <% end %>
        </div>
    <div class="p">
    <%= f.submit %>
    </div>
    <br><br>
    <% end %>
    </div>
  </section>
</main>
<% end %>

