<p><%= link_to 'Homepage', user_path(current_user.id)%></p>

<div>
  <p><em>Lesson Title: <%= @lesson.title %><em></p>
  <p>Lesson Content: <%= @lesson.content %></p>
  <p>Comment text: <%= @lesson.comment.text %></p>

  <ul>

  <% if @lesson.ratings.empty?  %>
  <p>There are no ratings yet.</p>

  <% else %>
  <p>Lesson Rating: </p>

    <% @lesson.ratings.each do |rate|  %>

    <li>*<%= rate.stars %><li>
    <% end %>
  <% end %>

</ul>

<h3><%= link_to "Edit Lesson", edit_lesson_path(@lesson)%></h3>
<h3><%= link_to "Delete Lesson", lesson_path(@lesson), method: :delete%></h3>
</div>