<!DOCTYPE html>
<html>
  <head>
    <title>LearnFullstackApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to 'Homepage', user_path(current_user.id)%></p>

    <%= yield %>
  </body>
</html>
